body {
}

.postList {
    padding: 0;
    list-style-type: none;
}

.postDiv  {
    border-style : solid;
    border-color : lightgray;
    border-width : 1px;
    border-radius : 10px;
    padding : 5px;
    margin-top : 10px;
}

@media screen and (min-width: 600px) {
    .postDiv {
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;
        width: 40%;
    }
}

.imageStyle {
    height: 55%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.titleStyle {
    font-weight: bold;
    margin-left: 5px;
}

.contentStyle {
    margin-left: 5px;
}

.authorStyle {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}

.dateStyle {
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}

.lineStyle {
    margin-top: 0px;
}

.downloadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.downloadLink {
    margin-right: 7px;
    margin-bottom: 0px;
}

.createPostContent {
    min-height: 100px;
}